{{#if showFooter}}
  <div class="wrap">
    <div class="main-flex">    
      <div class="flex-between">
          <div class="heading">
            {{mainHeading}}
          </div>
          <div class="links">
              {{#each socialLinks as |link|}}
              <div class="list">
                <span class="">
                  <a
                    class="social-link {{link.className}}"
                    title={{link.title}}
                    target={{link.target}}
                    href={{link.href}}
                    >
                    {{d-icon link.icon}}
                  </a>
                </span>
              </div>
            {{/each}}
          </div>
      </div>
      <div class="flex-between">
        <div class="footer-links">
          {{blurb}}
        </div>

        <div class="text">
          Copyright @ Ecofrag
        </div>
      </div>
  </div>
  </div>
{{/if}}
